.material-navigation .pager__item--next a {
  display: none;
}
.social-course-completion-message-container {
  margin-top: 20px;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.social-course-completion-message {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}